<a href="https://colab.research.google.com/github/sadiq937/AI-Driven_L2C_Optimization/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

test file

In [24]:
import sklearn
print(sklearn.__version__)

1.6.1

In [25]:
import matplotlib

In [26]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix

In [27]:
# Load the dataset (Assuming you downloaded it and the file is named 'crm_sales_opportunities.csv')
sales_df = pd.read_csv('https://raw.githubusercontent.com/sadiq937/AI-Driven_L2C_Optimization/refs/heads/main/Data/CRM%20sales%20Data/sales_pipeline.csv')

In [28]:
# Display first few rows of the dataset
sales_df.head()

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0

In [29]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   opportunity_id  8800 non-null   object
 1   sales_agent     8800 non-null   object
 2   product         8800 non-null   object
 3   account         7375 non-null   object
 4   deal_stage      8800 non-null   object
 5   engage_date     8300 non-null   object
 6   close_date      6711 non-null   object
 7   close_value     6711 non-null   float64
dtypes: float64(1), object(7)
memory usage: 550.1+ KB

In [30]:
sales_df.isnull().sum()

opportunity_id       0
sales_agent          0
product              0
account           1425
deal_stage           0
engage_date        500
close_date        2089
close_value       2089
dtype: int64

In [32]:
# Fill missing dates with median date
sales_df['engage_date'] = sales_df['engage_date'].fillna(median_engage_date)
sales_df['close_date'] = sales_df['close_date'].fillna(median_close_date)

# Fill missing numerical values with median close_value
sales_df['close_value'] = sales_df['close_value'].fillna(median_close_value)

# Fill missing account values with 'unknown'
sales_df['account'] = sales_df['account'].fillna('unknown')

In [35]:
sales_df.info()
sales_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   opportunity_id  8800 non-null   object
 1   sales_agent     8800 non-null   object
 2   product         8800 non-null   object
 3   account         8800 non-null   object
 4   deal_stage      8800 non-null   object
 5   engage_date     8800 non-null   datetime64[ns]
 6   close_date      8800 non-null   datetime64[ns]
 7   close_value     8800 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 550.1+ KB

opportunity_id    0
sales_agent       0
product           0
account           0
deal_stage        0
engage_date       0
close_date        0
close_value       0
dtype: int64

In [36]:
sales_df.drop_duplicates(inplace=True)

In [37]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   opportunity_id  8800 non-null   object
 1   sales_agent     8800 non-null   object
 2   product         8800 non-null   object
 3   account         8800 non-null   object
 4   deal_stage      8800 non-null   object
 5   engage_date     8800 non-null   datetime64[ns]
 6   close_date      8800 non-null   datetime64[ns]
 7   close_value     8800 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 550.1+ KB